.q-btn__wrapper:before {
  box-shadow: none;
}
.q-btn {
  font-size: 16px;
}

.q-toolbar__title {
  padding: 0 5px;
}

.q-btn-group {
  box-shadow: none;
}

.q-field__control {
  height: 50px;
}

.q-dialog__inner--minimized > div {
  max-width: none;
}