.a-btn {
  box-shadow: none;
  &._avatar{

  }
  
  &._menu {
    background-color: transparent;
    color: #000;
    width: 100%;
    text-align: left;
    & div {
      flex: none;
    }
  }

  &._crud { 
    margin: 5px;
    max-height: 50px;
  }
}
.a-btn_external {
  line-height: 0px;
  margin-top: 20px;
  border-radius: 8px;
  padding: 0 20px;
  background-color: $secondary;
}