.m-card-nav {
  max-width: 350px;
  width: 100%;
  height: auto;
  margin: 20px;
  color: #ffffff;
  background-color: $secondary;
  border-radius: 10px;
}

.a-card-title {
  display: flex;
  align-items: center;
  padding-bottom: 0;
}