.m-cashier {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}

.m-cashier-selected-list {

}

.selected-list-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.m-cashier-search-list {
  background-color: #099c77;
  border-radius: 5px;
}

.m-cashier-total {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  min-width: 700px;
}

.m-cashier-total-l1 {
  display: flex;
  justify-content: space-between;
}
.m-cashier-total-l2 {
  display: flex;
  justify-content: flex-end;
}

.a-total-price {
  font-size: 20px;
}
