.m-cashier {
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.m-cashier-input {
  width: 700px;
}


.m-cashier-title {
  font-size: 38px;
  font-weight: 500;
}

.m-cashier-selected-list {
  background-color: $secondary;
  color: #ffffff;
  border-radius: 5px;
}

.selected-list-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.m-cashier-search-list {
  background-color: $secondary;
  color: #ffffff;
  border-radius: 5px;
}

.m-cashier-total {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.m-cashier-total-l1 {
  display: flex;
  justify-content: space-between;
}
.m-cashier-total-l2 {
  display: flex;
  justify-content: space-between;
}

.m-total-text {
  font-weight: 500;
}
.m-total-price {
  font-size: 20px;
  font-weight: bold;
}

.m-cashier-input-search {
  background-color: white;
  margin-top: 10px;
}

.m-cashier-aside {
  width: 360px;
  margin-top: 25px;
  margin-left: 25px;
  background:  $secondary;
  height: 400px;
  max-height: 500px;
  color: #fff;
  padding 10px;
  border-radius: 10px;
}
