.m-modal-update- {
  width: 100%;
}

.m-modal-update-form {
  display: flex;
}
.m-update_field-label {
  font-size: 18px;
}
.m-update_field-input {
  padding-left: 5px;
  font-size: 17px;
}
.m-update_field-label-select {
  font-size: 18px;
}

.m-modal-update_field-select {
  width: 250px;
  align-items: center;
  padding: 20px;
}
.m-update_field-input_select {
  padding-left: 5px;
  font-size: 17px;
}
.m-modal-update_field {
  align-items: center;
  padding: 20px;
  max-height: 180px;
  &._select {
    width: 100%;
    max-width: 250px;
    min-width: 250px;
  }
}
.text-area {

  scroll-behavior: auto;
}
