.m-modal-update- {
  width: 100%;
}

.m-modal-update-form {
  display: flex;
  flex-direction: row;
}
.m-update_field-label {
  font-size: 18px;
}
.m-update_field-input {
  padding-left: 5px;
  font-size: 17px;
}

.m-modal-update_field {
  align-items: center;
  padding: 20px;
}