.m-table-produto {
    flex-grow: 1;
    margin: 5px 25px 25px;
  .q-table__top {
    background-color: $secondary;
    color: #ffffff;
  }
}

.a-table-descricao {
  max-width: 300px;
  white-space: normal;
  word-wrap: break-word;
}