.m-index-table {
  // max-width: 700px;
  width: 100%;
  max-height: 500px;
  height: auto; 
  margin-top: 25px;
  margin-bottom: 25px;
  overflow-y: auto; 
  flex-grow: 1;
   .q-table__top {
     background-color: $secondary;
     color: #ffffff;
   }
}