.m-table-produto {
    flex-grow: 1;
    margin: 5px 25px 25px;
  .q-table__top {
    background-color: $secondary;
    color: #ffffff;
  }
  align-content: center;
  align-items: center;
}

.a-table-descricao {
  max-width: 300px;
  white-space: normal;
  word-wrap: break-word;
}

.m-table-produto_title {
  font-size: 22px;
  margin: 0;
}
