.o-index {
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
}

.o-index-right {
  width: 425px;
  margin-top: 25px;
  margin-left: 25px;
  background:  $secondary;
  max-height: 500px;
  overflow-y: scroll;
  color: #fff;
  padding 10px;
  border-radius: 25px;
}

.list-right {
  color: #fff;
}

.m-index-footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 14px;
}

.m-footer-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.m-footer-list_item {
  margin-left: 10px;

  &:first-child {
    margin-left: 0;
  }
}

.m-footer-list-link {
  color: #ffffff;
}

.m-footer-list-link:hover {
  color: $secondary;
}

.a-footer-text {
  margin: 0; 
}