.o-404 {
  min-height: 100vh;
  background: $primary url('~assets/images/bg404.jpg') no-repeat;
  background-size: contain;
  background-position: center center;
}

.o-404_btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background: $secondary;
  color: #ffffff;
}