.o-about {
  margin-top: 25px;
  margin-right: 80px;
  margin-left: 25px;
}
.o-about_title {
  margin-bottom: 0px;
  &._sec {
    margin-top: 35px;
  }
}

.o-about_text-link {
  margin: 0;
}

.o-about_link {
  color: #32A889;
  text-decoration: none;
}

.o-about_link:hover {
  color: $primary;
  text-decoration: underline;
}

.o-about_text {
  font-size: 18px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.o-about_list-item {
  list-style: none;
  font-size: 16px;
  margin-left: 10px;
}