.o-about {
  margin-top: 25px;
  margin-right: 80px;
  margin-left: 25px;
}
.o-about_title {
  margin-bottom: 15px;
}

.o-about_text-link {
  margin: 0;
}

.o-about_link:hover {
  color: $primary;
}

.o-about_text {
  font-size: 16px;
}